@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

body {
  font-family: "Graduate", cursive;
  background-color: #233d4d;
  color: lightgrey;
}
.container-column {
  display: flex;
  flex-direction: column;
}
.container-row {
  display: flex;
  flex-direction: row;
}
header {
  align-items: center;
}
.sogTitle {
  font-size: 80px;
  color: #fe7f2d;
}
.team-one-counter {
  margin-right: 50px;
}
.team-two-counter {
  margin-left: 50px;
}
#totalTeamOneShots {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: lightgray;
}
#totalTeamTwoShots {
  font-size: 30px;
  color: lightgray;
}
#div2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#div1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.player-cards {
  justify-content: space-between;
}

footer {
  justify-content: space-between;
}
h1 {
  color: lightgray;
}
.skaterNum {
  color: #1f1f1f;
}
button {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.skaterName {
  margin: 5px 0;
  color: #1f1f1f;
}
.skaterDiv {
  -webkit-box-shadow: 11px 9px 7px -6px rgba(0, 0, 0, 0.6);
  box-shadow: 11px 9px 7px -6px rgba(0, 0, 0, 0.6);
  border: solid;
  border-color: darkgrey;
  margin: 20px;
  width: 300px;
  height: 170px;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.home {
  background-color: white;
  background-image: url("images/unitedstates.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 340px 210px;
}

.away {
  background-color: white;
  background-image: url("images/czechrepublic.png");
  background-position: center;
  /* background-repeat: no-repeat;
  background-size: cover; */
}
